---
import Layout from '../components/layout/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro'; // <--- 1. NUEVA IMPORTACIÓN
---

<Layout title="Portafolio de Programador - Inicio">
	
	<Hero />

	<About />
	
	<div class="h-[1000px]"></div>

</Layout>